body{
    background-color: rgb(202, 245, 202);
    
}
body img{
    border-radius: 100%;
    : 75%
}
body h2{
    font-size: 55px;
}
body th{
    border
    align-items: center;
    font-size: 22px;
}
body td{
    border-style: solid;
}